{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'create_record' %}" class="nav-link text-light">Novaya zapis</a>
    </li>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <form class="row g-3" action="{% url 'search_record' %}" method="GET">
        <div class="col-auto">
            <input type="text" name="name" class="form-control" placeholder="Search">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Poisk</button>
        </div>
    </form>
    <h1 class="text-center my-4">Guest Book</h1>
    <div class="row">
        {% for item in records %}
            <div class="card border-secondary mb-3 px-0">
                <div class="card-header text-center"><span class="mb-2 d-inline-block">{{ item.title }} | ({{ item.email_author }})</span>
                    <a href="{% url 'update_record' item.pk  %}" class="d-inline-block">
                        <i class="fa-solid fa-floppy-disk fs-3 pt-2 ps-2"></i>
                    </a>
                    <a href="{% url 'delete_record' item.pk  %}" class="d-inline-block">
                        <i class="fa-regular fa-floppy-disk fs-3 pt-2 ps-2"></i>
                    </a>
                </div>
                <div class="card-body text-secondary">
                    <p class="card-text">{{ item.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}