{% extends 'base.html' %}
{% block title %}Поиск{% endblock %}
{% block content %}
    <div class="card border-secondary mb-3 px-0">
        {% for record in records %}
        <div class="card-header text-center"><span class="mb-2 d-inline-block">{{ record.title }} | ({{ record.email_author }})</span>
            <a href="{% url 'update_record' record.pk  %}" class="d-inline-block">
                <i class="fa-solid fa-floppy-disk fs-3 pt-2 ps-2"></i>
            </a>
            <a href="{% url 'delete_record' record.pk  %}" class="d-inline-block">
                <i class="fa-regular fa-floppy-disk fs-3 pt-2 ps-2"></i>
            </a>
        </div>
        <div class="card-body text-secondary">
            <p class="card-text">{{ record.content }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}